version: '3.7'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: budget
      POSTGRES_PASSWORD: my_budget
      POSTGRES_DB: budget
    volumes:
      - db-data:/var/lib/postgresql
    ports:
      - "5433:5432"

  web:
    build: .
    command: gunicorn finance_manager.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  db-data: null